/*
	Prayer point app
	Author: Ayodeji Oyewole
	Version: 1.0.0
*/
/* BASE - Variables, Mixins, Base styles */
body {
  background: white url("images/index_background.jpg") fixed no-repeat right top;
  background-size: cover;
  font-family: "CharisSILRegular", Georgia, "Times New Roman", Times, serif;
}

.mrg-btm-zero {
  margin-bottom: 0;
}

.bg-color-transparent {
  background-color: transparent;
}

.pacifico {
  font-family: 'Pacifico', Helvetica, Arial, sans-serif !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-theme {
  color: #485663 !important;
}

/* LAYOUTS - Page layout styles */
#header {
  background-color: #FFFFFF;
  min-height: 80px;
  padding: 5px 90px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#header .navbar-brand {
  font-size: 36px;
  line-height: 38px;
  color: #485663;
}

#header .navbar-brand:hover {
  color: #7a92a8;
}

#header .collapse {
  margin-top: 10px !important;
  font-size: 12px;
}

#header button {
  color: #FFFFFF;
  background-color: #485663;
  border: 2px solid #485663;
  font-weight: bold;
  font-size: 12px;
  margin-top: 9px;
  border-radius: 16px;
}

#header button:hover {
  background-color: #333d47 !important;
  border: 2px solid #333d47;
}

.jumbotron {
  margin-top: 80px;
  min-height: calc(100% - 120px);
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}

/* MODULES - Page specific styles */
.btn-index {
  border-radius: 30px !important;
  background-color: #485663 !important;
  border: 2px solid #485663;
  font-size: 18px !important;
  color: #FFFFFF !important;
  margin: 20px 15px 15px;
  float: none;
  line-height: 25px !important;
  padding: 13px 24px 11px !important;
}

.btn-index:hover {
  background-color: #333d47 !important;
  border: 2px solid #333d47;
}

.book {
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 13px 25px;
    font-size: 17px;
    color: #485663;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.book:hover {
    background-color: #485663;
    color: white;
}

.search_result_item {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.search_result_item:hover {
    background-color: rgba(72, 86, 99, 0.1);
}

#scripture_box {
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 20px 30px;
    position: absolute;
    bottom: 45%;
    left: 40%;
    background-color: white;
    line-height: 1.8em;
    min-height: 25%;
    max-height: 40%;
    width: 55%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#pp_box {
    overflow: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 20px 30px;
    position: absolute;
    top: 55%;
    left: 40%;
    background-color: #ebebeb;
    line-height: 1.8em;
    min-height: 25%;
    max-height: 40%;
    width: 55%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgb(150, 150, 150);
}