{% load static %}
<script type="text/javascript" src="{% static 'main/scripts/add_pp_scripts.js' %}"></script>
<div id="add_pp_container">
    {% if job_response_code == 1 %}
        <p class="add_pp_response_success">{{ job_response }}</p>
    {% endif %}
    {% if job_response_code == 2 %}
        <p class="add_pp_response_fail">{{ job_response }}</p>
    {% endif %}
    <p id="add_pp_header">Add a prayer point</p>
    <form action="/main/add_prayer_point/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.add_pp_full_name.errors }}
        <div class="add_contact_container">
            {{ form.add_pp_full_name.label_tag }}
            {{ form.add_pp_full_name }}
        </div>
        {{ form.add_pp_email.errors }}
        <div class="add_contact_container">
            {{ form.add_pp_email.label_tag }}
            {{ form.add_pp_email }}
        </div>
        {{ form.add_pp_bible_ref.errors }}
        <div id="add_bible_ref_container">
            {{ form.add_pp_bible_ref.label_tag }}
            {{ form.add_pp_bible_ref }}
            <span id="add_bible_ref_count_wrap"><span id="add_bible_ref_count">64</span><span> characters left</span></span>
        </div>
        {{ form.add_pp_content.errors }}
        <div id="add_pp_content_container">
            {{ form.add_pp_content.label_tag }}
            {{ form.add_pp_content }}
            <span id="add_pp_content_count_wrap"><span id="content_char_count">512</span><span> characters left</span></span>
        </div>
        <div id="add_pp_category_container">
            <label for="add_pp_category_table" >Category:</label>
            <span id="add_pp_category_hint">Select all that apply</span>
            <table id="add_pp_category_table">
                <tbody>
                    <tr>
                        <td>{{ form.add_pp_cat_cons }} Consecration</td>
                        <td>{{ form.add_pp_cat_fami }} Family</td>
                        <td>{{ form.add_pp_cat_nati }} Nation/Land</td>
                        <td>{{ form.add_pp_cat_warf }} Warfare</td>
                    </tr>
                    <tr>
                        <td>{{ form.add_pp_cat_dire }} Direction</td>
                        <td>{{ form.add_pp_cat_favo }} Favour</td>
                        <td>{{ form.add_pp_cat_prot }} Protection</td>
                        <td>{{ form.add_pp_cat_weal }} Wealth</td>
                    </tr>
                    <tr>
                        <td>{{ form.add_pp_cat_enco }} Encouragement</td>
                        <td>{{ form.add_pp_cat_heal }} Health</td>
                        <td>{{ form.add_pp_cat_prov }} Provision</td>
                        <td>{{ form.add_pp_cat_wors }} Worship</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="add_pp_submit_button">Submit for approval <i class="fa fa-check" aria-hidden="true"></i></button>
    </form>
</div>