{% load static %}
<script>
    function updateResultsByCategory() {
        var category = document.getElementById("query_category").value;
        $.ajax({
            type: "GET",
            url: "{% url 'prayer_point_by_category' %}",
            data: {'category': category}
        })
        .done(function(response) {
            document.getElementById("prayer_point_results").innerHTML = response;
        });
    }

    function get_and_show_scripture(pp){
        var id = pp.id.split("search_result_")[1];
        $("#scripture_content").html( $("#scripture_" + id).html() );
        $("#scripture_ref").html( $("#bible_ref_" + id).html() );
        $("#pp_box").html($("#" + pp.id).children("p").html());
    }

    $(document).ready(function() {
        updateResultsByCategory();

        $("#query_category").change(function() {
            updateResultsByCategory();
        });
    });
</script>
<div style="overflow: hidden; position: absolute; top: 80px; left: 0; background-color: white; height: calc(100% - 80px); width: 35%; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);">
    <div style="position: absolute; top: 0; left:0; background-color: #485663; width: 100%; height: 60px; padding: 3.1%;">
        <select id="query_category" style="border: 0; height: 30px; width: 100%; padding: 0px 10px; border-radius: 5px;">
            <option value="%">Choose Category</option>
            <option value="A">All</option>
        {% for category in categories %}
                <option value="{{ category.cat_id }}">{{ category.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div id="prayer_point_results" style="overflow: auto; margin-top: 60px; height: calc(100% - 60px); background-color: white;"></div>
</div>
<div id="scripture_box"><p>
    <span id="scripture_ref"></span><br>
    <span id="scripture_content"></span>
</p></div>
<div id="pp_box"></div>
