{% load static %}
<div class="jumbotron mrg-btm-zero bg-color-transparent text-center">
  <div class="container">
  <h1 class="text-theme">The fast and easy way to translate<br>and deliver your online content</h1><br>
  <h3 class="text-theme">Arise O compatriot Nigeria's call obey, to serve<br>View prayer points:</h3><br><br>
	<div class="btn-group-lg text-center" role="group" aria-label="...">
		<a href="./sorted_by_category"><button type="button" class="btn btn-index col-md-3 col-sm-6">View Prayer Points</button></a>
		<a href="./add_prayer_point"><button type="button" class="btn btn-index col-md-3 col-sm-6">Add Prayer Point</button></a>
	</div>
  </div>
</div>
<div id="about" style="position: absolute; bottom: 0; height: 120px;"></div>
<div id="about_us_box" style="background-color: #485663; width: 100%; height: auto; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset; padding: 2% 17%;">
    <div style="text-align: center; background-color: white; width: 100%; height: auto; padding: 80px; font-size: 16px; line-height: 1.8em; overflow: auto;">
        <div style="padding-bottom: 20px;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin-bottom: 25px;">About Omoilorin</p><br>
            <p>This is an example of an about page. It will be split into 2 paragraphs so that it is easy to read. Okay I'm out of stuff to say. This is not the first time that the City has issued an RFP for this. An RFP was issued in January 2016 that contains a nearly identical summary page, with the only changes being to the number of intersections.</p><br><p>The purpose of installing updated Smart Signals is to reduce traffic congestion and delays at intersections by using adaptive algorithms to optimize traffic flow in real-time. This is accomplished by detecting traffic demand on all approaches through the use of specialized cameras, and making dynamic changes to offsets, splits, and cycle lengths at each intersection. Most current signal systems either use fixed signal timings.</p><br>
        </div>
        <div style="border-top: 1px solid rgba(72, 86, 99, 0.3); padding: 60px 0;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin: 0 0 25px;">How to Use Omoilorin</p>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/zxYd4keWb-M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="contact-us" style="border-top: 1px solid rgba(72, 86, 99, 0.3); padding: 60px 0 0;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin-bottom: 40px;">Meet The Team</p>
            <div>
                <div style="display: inline-block; line-height: 1.4em;">
                    <img style="box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5); background-color: lightgreen; height: 150px; width: 150px; border-radius: 50%; margin-bottom: 20px;" src="{% static 'main/images/young_barack.jpg' %}">
                    <p style="margin: 0;"><b>Toyin Oyewole</b></p>
                    <p style="margin: 0;">Founder</p>
                    <p style="margin: 0;"><b>Lagos, Nigeria</b></p>
                    <p style="margin: 0;"><b>tanimola.oyewole@gmail.com</b></p>
                </div>
                <div style="display: inline-block; margin-left: 100px; line-height: 1.4em;">
                    <img style="box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5); display: inline-block; background-color: lightcoral; height: 150px; width: 150px; border-radius: 50%; margin-bottom: 20px;" src="{% static 'main/images/young_billy.jpg' %}">
                    <p style="margin: 0;"><b>Ayodeji Oyewole</b></p>
                    <p style="margin: 0;">Web Developer</p>
                    <p style="margin: 0;"><b>Vancouver, Canada</b></p>
                    <p style="margin: 0;"><b>ayodeji.oyewole@gmail.com</b></p>
                </div>
            </div>
        </div>
    </div>
</div>