{% load static %}
<div class="jumbotron mrg-btm-zero bg-color-transparent text-center">
  <div class="container">
  <h1 class="text-theme">Prevailing in the place of prayers</h1><br>
  <h3 class="text-theme">For though we walk in the flesh, we do not war after the flesh: For the weapons of our warfare
are not carnal, but mighty through God to the pulling down of strong holds - 2 Corinthians 10:3-4</h3><br><br>
	<div class="btn-group-lg text-center" role="group" aria-label="...">
		<a href="./sorted_by_category"><button type="button" class="btn btn-index col-md-3 col-sm-6">View Prayer Points</button></a>
		<a href="./add_prayer_point"><button id="add_pp_btn" type="button" class="btn btn-index col-md-3 col-sm-6">Add Prayer Point</button></a>
	</div>
  </div>
</div>
<div style="background-color: #485663; width: 100%; height: auto; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5) inset; padding: 2% 17%;">
    <div style="text-align: center; background-color: white; width: 100%; height: auto; padding: 80px; font-size: 16px; line-height: 1.8em; overflow: auto;">
        <div id="about" style="padding-bottom: 20px;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin-bottom: 25px;">About Omoilorin</p><br>
            <p style="text-align: left;">Life has its challenges, but God has graciously provided us with the resources of His promises used inthe place of prayers to face and overcome them. The Bible tell us that God by his divine power hath given unto us all things that pertain unto life and godliness, through the knowledge of him that hath called us to glory and virtue: Whereby are given unto us exceeding great and precious promises: that by these ye might be partakers of the divine nature - 2 Peter 1:3-4
            It therefore challenges us to pray and not to faint in the face of the challenges of life Luke 18:1 so we can draw from this heavenly provision; it in fact encourages us to pray without ceasing 1 Thess 5:17<br><br>
            A good number of Christians however find themselves short of prayers points when they venture to actually practice this in their day to day life, or when they come up against a situation which calls for extended sessions of prayers.<br><br>
            We have extracted prayer points from Genesis to Revelation in order to help Christians that find themselves in either of the situations described above. There prayer points will be very useful for Christians who desire to embark on extended prayer sessions for spiritual warfare, consecration, special petition or some other prayer exercise. There would also be useful for those that are not facing any particular challenge, but just wish to obey the injunction to pray without ceasing.<br><br>
            The Bible says to put God in remembrance of His words Isaiah 43:26; that is to take God’s promises back to Him in prayers. In light of that, each of the prayers points have being drawn out of a promise in scripture or an instant in scripture where God demonstrated His power, faithfulness, love or mercy, and we are asking that He should do same for us.<br><br>
            The prayer points have been broken into a number of categories, and user can select that category that is most relevant for their purpose. However knowing that most of the challenges we face are an outworking of a spiritual onslaught, we suggest that the spiritual warfare category be selected by all users in addition to whatever other category they select.<br><br>
            The selected prayer points can be downloaded freely or printed for offline use.<br><br>
            We have also provided a Resource page where you will find links to a selection of books and messages that will help your prayer life.<br><br>
            The project is a work-in-progress, we intend to keep adding prayer points as the Holy Spirit enlightens, we would also like to get suggested prayer points from you – please use the Contact Us page to send us your suggestions.<br><br>
            We do believe that it will really enhance the prayer life of a lot of Christians around the world.<br><br>
            Looking forward to hearing from you. Many thanks and God bless</p><br>
        </div>
        <div style="border-top: 1px solid rgba(72, 86, 99, 0.3); padding: 50px 0;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin: 0 0 25px;">How to Use Omoilorin</p>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/zxYd4keWb-M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="resources_section" style="border-top: 1px solid rgba(72, 86, 99, 0.3); padding: 50px 0;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin-bottom: 25px;">Resources</p><br>
        </div>
        <div id="contact_us" style="border-top: 1px solid rgba(72, 86, 99, 0.3); padding: 50px 0 0;">
            <p class="text-theme" style="font-size: 30px; font-weight: bold; margin-bottom: 40px;">Meet The Team</p>
            <div>
                <div style="display: inline-block; line-height: 1.4em;">
                    <img style="box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5); background-color: lightgreen; height: 150px; width: 150px; border-radius: 50%; margin-bottom: 20px;" src="{% static 'main/images/young_barack.jpg' %}">
                    <p style="margin: 0;"><b>Toyin Oyewole</b></p>
                    <p style="margin: 0;">Founder</p>
                    <p style="margin: 0;"><b>Lagos, Nigeria</b></p>
                    <p style="margin: 0;"><b>tanimola.oyewole@gmail.com</b></p>
                </div>
                <div style="display: inline-block; margin-left: 100px; line-height: 1.4em;">
                    <img style="box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5); display: inline-block; background-color: lightcoral; height: 150px; width: 150px; border-radius: 50%; margin-bottom: 20px;" src="{% static 'main/images/young_billy.jpg' %}">
                    <p style="margin: 0;"><b>Ayodeji Oyewole</b></p>
                    <p style="margin: 0;">Web Developer</p>
                    <p style="margin: 0;"><b>Vancouver, Canada</b></p>
                    <p style="margin: 0;"><b>ayodeji.oyewole@gmail.com</b></p>
                </div>
            </div>
        </div>
    </div>
</div>