<div class="jumbotron mrg-btm-zero bg-color-transparent text-center">
  <div class="container">
  <h1 class="text-theme">The fast and easy way to translate<br>and deliver your online content</h1><br>
  <h3 class="text-theme">Arise O compatriot Nigeria's call obey, to serve<br>View prayer points:</h3><br><br>
	<div class="btn-group-lg text-center" role="group" aria-label="...">
		<a href="./sorted_by_scripture"><button type="button" class="btn btn-index col-md-3 col-sm-6">View Prayer Points</button></a>
		<a href="./sorted_by_category"><button type="button" class="btn btn-index col-md-3 col-sm-6">Add Prayer Point</button></a>
	</div>
  </div>
</div>
